@import "../../assets/sass/_global/variables";

.notificationButton {
  position: relative;
  padding: 10px;
  background: transparent;
  border: none;
  width: 36px;
  height: 36px;
  z-index: 101;

  img {
    display: block;
  }

  &.none {
    opacity: 0.5;
  }

  &.new {
    &:hover {
      background-color: $gray-hover-profile-icon;
      border-radius: 50%;
    }

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 6px;
    right: 5px;
    background: $red;
    border-radius: 6px;
    display: block;
  }
}

  &:focus {
    outline: none;
    background-color: $gray-hover-profile-icon;
    border-radius: 50%;
  }

  &.isNotificationsPopupOpen {
    background-color: $gray-hover-profile-icon;
    border-radius: 50%;
  }
}